<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "com.phonegap.ini"
	version 	= "0.0.1">

	<name>Sample Config File</name>

	<description>
		Sample config file to build hybrid app from phonegap
	</description>

	<author href="" email="lakshay.katney@gmail.com">
		Lakshay Katney
	</author>

	<access origin="*" />

	<gap:plugin name="com.phonegap.plugins.childbrowser" />
	
	<preference name="phonegap-version" value="2.9.0" />
	<preference name="webviewbounce" value="false" />

</widget>