/* custom style goes here */
body{	text-align: center;}
#header{width: 100%;position: fixed;z-index: 100;border-bottom: 1px solid grey;height: 65px;background-color: #B17C7C;top: 0;left: 0;right: 0;}
h3{color: white;}
a{color: white;cursor: pointer;}
a:hover{color: #633F24;}
#header a{margin: 0 10px;}
div#right{position: fixed; right: 15px;top: 10px;}
div#left{position: fixed; left: 15px;top: 10px;}
a span{font-size: 15px;display: block;margin: 4px 0;}

description{position: relative; top: 70px; display: block; font-size: 21px; color: #633F24}
error{display: none;position: relative;top: 90px; color: #ed6d64;font-size: 18px;}
.video-section{
	margin: 100px 0;
}

.video-section .youtube-video{
	margin: 0 auto;
}

.link{
	color: #B17C7C;
	text-decoration: none;
}
.link:hover{
	color: #633F24;
	text-decoration: none;
}

small{
	width: 75%;
	display: block;
	margin: 10px auto;
	text-align: left;
}
